{erl_opts, [debug_info]}.
{deps, [
    {cowboy, "2.9.0"},
    {jsx, "2.11.0"},
    {eredis, "1.0.8"},
    {poolboy, "1.5.2"}
]}.
{eunit_compile_opts, [debug_info]}.

{relx, [
    {release, {api_cowboy, "0.1.0"}, [
        api_cowboy,
        sasl
    ]},

    {mode, dev},

    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"}
]}.

{profiles, [
    {prod, [
        {relx, [
            {mode, prod}
        ]}
    ]}
]}.
